.Projects{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
}

.linux{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
#vm_container{
    /* background-color: black; */
    width: 850.2px;
    height: 420px;
}
/* can probably get rid of the vm container constraints
 */

#vm_text_mode{
    white-space: pre;
    font: 14px monospace; 
    line-height: 14px;
}


#vm_graphics_mode{
    display: none
}

.projectCard{
    width: 80%;
    border-style: solid;
    border-width: thin;
    border-color:rgb(85, 85, 85);
    font-weight: bold;
    /* max-height: 25%; */
    /* margin-left: 2%; */
    border-radius: 2px;
    text-align: left;
    font-size: small;
}

.ProjectCards{
    /* height: 100%; */
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    color: black;

}

.betterLink{
    padding-top: 2%;
    text-decoration: none;
    width: 75%;
    display: flex;
    justify-content: center;

}



@media only screen and (min-width: 768px){

    .betterLink{
        text-decoration: none;
        width: 35%;
        
    
    }

    .projectCard{
        width: 100%;
        /* background-image: -webkit-linear-gradient(top, #9c3e78, #6574d6); */
        border-style: solid;
        border-width: thin;
        border-color:rgb(85, 85, 85);
        font-weight: bold;
        /* max-height: 25%; */
        
        border-radius: 2px;
        text-align: left;
        color: black;
    }

    

    /* .projectVideo{
        width: 80%;
    }
     */
}