.sidebar{
    height: 100%;
    width: 10%;
    background-color: #ce9eff !important;
    float: left;
    border-right: black;
    display: flex;
    flex-direction: column;
}

.circle{
    height:20%;
    background-color: white;
    /* border-radius: 50%; */

}

.sidebarcontainer{
    height: 100%;
}